# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Virtual env
venv/
.env
.env.*

# FastAPI + LangChain Cache
~/.cache/
cache/
model_cache/

# Local data
backend/data/uploads/
backend/data/processed/

# Logs
logs/
*.log

# IDE / Editor Files
.vscode/
.idea/
*.swp
*.swo